venv/
__pycache__/
*.pyc

data/raw/
data/parsed/
data/processed/
data/sequences/
# data/embeddings/

#ml/checkpoints/

.env

.ipynb_checkpoints/

.vscode/

.DS_Store

*.log

node_modules/

dist/

build/