* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: Inter, Arial, sans-serif;

  background:
    linear-gradient(
      rgba(2,6,23,.90),
      rgba(2,6,23,.95)
    ),
    url("./assets/dashboard-bg.jpeg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;

  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}